/**
https://coolors.co/ef3059-8ec86c-8cd5f0-fef5ef-544343
 */

:root {
    --lbprimary: #8CD5F0;
    --lbsecondary: #544343;
    --lbthirdary: #Ef3059;
    --lbfouthary: #8EC86C;
    --lbfithary: #FEF5EF;
}



* {
    font-family: 'Roboto', sans-serif;
}





footer {
    font-family: 'Roboto', sans-serif;
}